.product-selected-container {
  width: 100%;
  height: fit-content;
}

.product-selected-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #3c3a3a;
  padding-bottom: 100px;
}

.product-selected-images {
  width: 40%;
  height: auto;
}

.product-selected-images img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  box-shadow: rgba(8, 8, 8, 0.5) 0px 8px 24px;
}

.product-selected-infos {
  padding-top: 100px;
  width: 500px;
}

.product-selected-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ff9900;
  margin-bottom: 20px;
}

.product-selected-line {
  width: 100%;
  height: 1px;
  background-color: #ff9900;
  margin-bottom: 50px;
}

.product-selected-desc {
  height: 200px;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  color: #fff;
  margin-bottom: 30px;
}

.product-selected-price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ff9900;
  margin-bottom: 50px;
}

.product-selected-buy-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-selected-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ff9900;
  width: 150px;
}

.product-selected-amount-container button {
  padding: 16px;
  font-size: 1rem;
  color: #ff9900;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.product-selected-amount-container button:hover {
  background-color: rgba(255, 153, 0, 0.5);
}

.product-selected-amount {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #ff9900;
}

.product-selected-buy {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ff9900;
  border: none;
  width: 40%;
  height: 52px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.product-selected-buy:hover {
  background-color: #e28800;
}

.product-recommendation-container {
  width: 100%;
  padding: 50px 0 100px 0;
  background-color: #272626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-recommendation-title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #ff9900;
  padding-left: 5%;
  margin-bottom: 50px;
}

.product-recommendation-wrapper {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.prod-arrow-left {
  display: none;
}

.prod-arrow-left .prod-arrow-left-icon,
.prod-arrow-right .prod-arrow-right-icon {
  display: none;
}

.prod-arrow-right {
  display: none;
}

.product-recommendation-elements {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease;
  margin-left: 10px;
}

.product-recommendation {
  display: flex;
  flex-direction: column;
}

.product-image-price {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.product-image-price span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: rgba(39, 38, 38, 0.5);
  padding: 5px;
  border-bottom: 3px solid #ff9900;
  pointer-events: none;
}

.product-detail {
  position: relative;
  margin-top: 10px;
}

.product-fade {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 14px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 70%, rgba(39, 38, 38, 1) 100%);
}

.product-name-crop {
  width: 170px;
  height: 14px;
  overflow: hidden;
}

.product-name-crop h3 {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.product-detail button {
  margin-top: 10px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #ff9900;
  border: none;
  padding: 7px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.product-detail button:hover {
  background-color: rgba(255, 153, 0, 0.8);
}

@media screen and (max-width: 1370px) {
  .product-recommendation-wrapper {
    width: 1041px;
    display: block;
  }

  .prod-arrow-left {
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(39, 38, 38, 1) 0%, rgba(2, 0, 36, 0) 100%);
    border: none;
    z-index: 99;
  }

  .prod-arrow-left .prod-arrow-left-icon,
  .prod-arrow-right .prod-arrow-right-icon {
    display: block;
    font-size: 5rem;
    color: #fff;
  }

  .prod-arrow-right {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(39, 38, 38, 1) 100%);
    border: none;
    z-index: 99;
  }
}

@media screen and (max-width: 1070px) {
  .product-recommendation-wrapper {
    width: 831px;
  }
}

@media screen and (max-width: 930px) {
  .product-selected-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .product-selected-images img {
    margin-top: 100px;
  }
}

@media screen and (max-width: 850px) {
  .product-recommendation-wrapper {
    width: 621px;
  }
}

@media screen and (max-width: 640px) {
  .product-recommendation-wrapper {
    width: 411px;
  }
}

@media screen and (max-width: 600px) {
  .product-selected-images {
    width: 70%;
  }

  .product-selected-infos {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .product-recommendation-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .product-recommendation-elements {
    width: 180px;
  }
}

@media screen and (max-width: 414px) {
  .product-selected-title {
    font-size: 2rem;
  }

  .product-selected-amount-container {
    width: 125px;
  }

  .product-selected-amount-container button {
    padding: 10px;
  }

  .product-selected-amount {
    font-size: 1.2rem;
  }

  .product-selected-buy {
    height: 40px;
    font-size: 1.2rem;
  }

  .product-recommendation-title {
    font-size: 1.5rem;
  }

  .product-selected-buy-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .product-selected-amount-container {
    width: 100%;
  }

  .product-selected-amount-container button {
    padding: 16px;
  }

  .product-selected-amount {
    font-size: 1.5rem;
  }

  .product-selected-buy {
    height: 52px;
    font-size: 1.5rem;
    width: 100%;
  }
}
