.product-selected-container {
  width: 100%;
  height: fit-content;
}

.product-selected-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #3C3A3A;
  padding-bottom: 100px;
}

.product-selected-images {
  width: 40%;
  height: auto;
}

.product-selected-images img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  box-shadow: rgba(8, 8, 8, 0.5) 0px 8px 24px;
}

.product-selected-infos {
  padding-top: 100px;
  width: 500px;
}

.product-selected-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FF9900;
  margin-bottom: 20px;
}

.product-selected-line {
  width: 100%;
  height: 1px;
  background-color: #FF9900;
  margin-bottom: 50px;
}

.product-selected-desc {
  height: 200px;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  color: #FFF;
  margin-bottom: 30px;
}

.product-selected-price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FF9900;
  margin-bottom: 50px;
}

.product-selected-buy-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-selected-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FF9900;
  width: 150px;
}

.product-selected-amount-container button {
  padding: 16px;
  font-size: 1rem;
  color: #FF9900;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.product-selected-amount-container button:hover {
  background-color: rgba(255, 153, 0, 0.5)
}

.product-selected-amount {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #FF9900;
}

.product-selected-buy {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFF;
  background-color: #FF9900;
  border: none;
  width: 40%;
  height: 52px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.product-selected-buy:hover {
  background-color: #e28800;
}

.product-recommendation-container {
  width: 100%;
  padding: 50px 0 100px 0;
  background-color: #272626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-recommendation-title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #FF9900;
  padding-left: 5%;
  margin-bottom: 50px;
}

.product-recommendation-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.product-recommendation {
  display: flex;
  flex-direction: column;
}

.product-image-price {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.product-image-price span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFF;
  background-color: rgba(39, 38, 38, 0.5);
  padding: 5px;
  border-bottom: 3px solid #FF9900;
  pointer-events: none;
}

.product-detail {
  position: relative;
  margin-top: 10px;
}

.product-fade {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 14px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 70%, rgba(39, 38, 38, 1) 100%);
}

.product-name-crop {
  width: 170px;
  height: 14px;
  overflow: hidden;
}

.product-name-crop h3 {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #FFF;
}

.product-detail button {
  margin-top: 10px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #FFF;
  background-color: #FF9900;
  border: none;
  padding: 7px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.product-detail button:hover {
  background-color: rgba(255, 153, 0, 0.8)
}